title: "Analytics CLI config file"

# apps_mapping is a dict of app_path:app_name, used to determine which *software* is running for a given path.
# Apps which path match the app name don't have to be listed.
# App names have to match the name used in this project's app_processors subpackage.
apps_mapping:
  data: dataapi

performance:
  # Publish in DB by batches
  batch_size: 10000

database:
  drivername: "postgresql"
  host: "localhost"
  port: "5433"
  database: "analytics"
#  schema: analytics
  username: "tsdb"
  password: !ENV "${GOA_DB_PASSWORD:secret}"

parsers:
  opentelemetry:
    text_message_parser:
      enable: false
      regex: r"^(?P<ip>[0-9a-fA-F:\.]+) (?P<user_identifier>[-_\w]+) (?P<user>[-_\|, \w]+) \[(?P<timestamp>.*)\] \"(?P<method>GET|POST|HEAD|OPTION|PUT|PATCH|DELETE|TRACE|CONNECT) (https?:\/\/[_:a-zA-Z0-9\.-]+)?(?P<path>\/(?P<app>[_a-zA-Z0-9-]+)(\/.*)) HTTP\/[\.0-9]{3}\" (?P<status_code>[0-9]{3}) (?P<response_size>[-0-9]*)"
  text_message:
    regex: '^(?P<ip>[0-9a-fA-F:\.]+) (?P<user_identifier>[-_\w]+) (?P<user>[-_\|, \w]+) \[(?P<timestamp>.*)\] \"(?P<method>GET|POST|HEAD|OPTION|PUT|PATCH|DELETE|TRACE|CONNECT) (https?:\/\/[_:a-zA-Z0-9\.-]+)?(?P<path>\/(?P<app>[_a-zA-Z0-9-]+)(\/.*)) HTTP\/[\.0-9]{3}\" (?P<status_code>[0-9]{3}) (?P<response_size>[-0-9]*) \"-\" \"(?P<user_agent>[-0-9a-zA-Z\/\.: ();_]*)\" (?P<misc>.*) (?P<response_time>[0-9]+)ms$'

metrics:
  enabled: true
  metrics_file_path: /tmp/analytics.prom
#  pushgateway_url: localhost:9091

logging:
  version: 1
  root:
    handlers: [console]
    level: DEBUG
  handlers:
    console:
      class: logging.StreamHandler
      formatter: default
  formatters:
    default:
      format: '%(asctime)s %(levelname)-8s %(name)-15s %(message)s'
      datefmt: '%Y-%m-%d %H:%M:%S'
  loggers:
    georchestra_analytics_cli:
      level: DEBUG
    __main__:
      level: DEBUG
